@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900);

.st-container,
.st-pusher,
.st-content {
  height: 100%;
}

.st-content {
  overflow-y: hidden;
  background: #f3efe0;
}

.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  z-index: 99;
  left: 0;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  content: '';
  -webkit-transition: opacity .5s, width .1s .5s, height .1s .5s;
  transition: opacity .5s, width .1s .5s, height .1s .5s;
  opacity: 0;
  background: rgba(0, 0, 0, .2);
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 1;
}

.st-menu {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 300px;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  background: #48a770;
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 1;
  background: rgba(0, 0, 0, .2);
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  -webkit-transition: opacity .5s, width .1s .5s, height .1s .5s;
  transition: opacity .5s, width .1s .5s, height .1s .5s;
  opacity: 0;
}

/* content style */
.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-menu h2 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
  padding: 1em;
  color: rgba(0, 0, 0, .4);
  text-shadow: 0 0 1px rgba(0, 0, 0, .1);
}

.st-menu ul li a {
  font-weight: 400;
  display: block;
  padding: 1em 1em 1em 1.2em;
  -webkit-transition: background .3s, box-shadow .3s;
  transition: background .3s, box-shadow .3s;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f3efe0;
  outline: none;
  box-shadow: inset 0 -1px rgba(0, 0, 0, .2);
  text-shadow: 0 0 1px rgba(255, 255, 255, .1);
}

.st-menu ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, .2), inset 0 1px rgba(0, 0, 0, .2);
}

.st-menu ul li a:hover {
  color: #fff;
  background: rgba(0, 0, 0, .2);
  box-shadow: inset 0 -1px transparent;
}

/* Individual effects */
.st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
  display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher
{
    padding-left: 300px;
}

html
{
    font-family: 'Roboto', sans-serif;

    height: 100%;
}
html body
{
    overflow: hidden; 

    height: 100%;

    color: black;
}
html body .st-content .menu-fixed
{
    position: fixed;
    z-index: 20;

    display: block;

    width: 100%;
    height: 50px; 

    background-color: red;
}
html body #multiscroll .ms-left .ms-section
{
    z-index: 11;

    border-right: 10px solid #696969;
    background-color: #696969; 
    box-shadow: 0 0 0 transparent, 0 3px 6px rgba(0, 0, 0, .4);
}
html body #multiscroll .ms-right .section-home
{
    background-color: blue;
}
html body #multiscroll .ms-right .section-formations
{
    background-color: green;
}
html body #multiscroll .ms-right .section-skills
{
    background-color: #fb887c;
}
html body #multiscroll .ms-right .section-contact
{
    background-color: yellow;
}

#st-trigger-effects
{
    position: absolute;
    z-index: 1000;
}

@media screen and (max-width: 640px)
{
    #multiscroll .ms-left
    {
        display: none;
    }
    #multiscroll .ms-right
    {
        width: 100% !important;
    }
    #multiscroll-nav
    {
        display: none;
    }
}
