<div class="wrap-section">
	<div class="section-container">
		{% if isMobile == "1" %}
			<h2>/ Contact</h2>
		{% endif %}

		<div class="sub-container">
			<h3>// Réseaux sociaux</h3>
			<div class="content">

			</div>

			<h3>// Formulaire de contact</h3>vfvgf
			<div class="content">
				<span class="input input--chisato">
					<input class="input__field input__field--chisato" type="text" id="input-13" />
					<label class="input__label input__label--chisato" for="input-13">
						<span class="input__label-content input__label-content--chisato" data-content="First Name">First Name</span>
					</label>
				</span>

				<span class="input_custom">
					<input type="text" class="input_custom" id="name" />
					<label for="name">
						<span></span>
					</label>
				</span>
			</div>
		</div>
	</div>
</div>