<div class="wrap-section">
	<div class="section-container">
		{% if isMobile == "1" %}
			<h2>/ Contact</h2>
		{% endif %}

		<div class="sub-container">
			<h3>// Réseaux sociaux</h3>
			<div class="content">

			</div>

			<h3>// Formulaire de contact</h3>
			<div class="content">
				
			</div>
		</div>
	</div>
</div>