{% extends "layout.twig" %}

{% block body %}

<div id="st-container" class="st-container">

	<nav class="st-menu st-effect-1" id="menu-1">
		<h2 class="icon icon-stack">Sidebar</h2>
		<ul>
			<li><a class="icon icon-data" href="#home">Accueil</a></li>
			<li><a class="icon icon-location" href="#studies">Formations</a></li>
			<li><a class="icon icon-study" href="#skills">Compétences</a></li>
			<li><a class="icon icon-photo" href="#contact">Contact</a></li>
		</ul>
	</nav>

	<!-- content push wrapper -->
	<div class="st-pusher">

		<div class="st-content container">
			<div class="st-content-inner">


				<header id="ha-header" class="ha-header ha-header-large">
					<div class="ha-header-perspective">
							<div class="ha-header-front">
								<h1><span>Rémi FAIVRE</span></h1>
								<!--<nav>
									<a>‹ Previous Demo</a>
								</nav>-->
									
								<div id="st-trigger-effects" class="column">
									<button data-effect="st-effect-1" class="button-menu">
										<!--<i class="fa fa-bars fa-3x"></i>-->
										<i></i>
										<i></i>
										<i></i>
									</button>
								</div>
							</div>						
						
					</div>
				</header>

				<div id="multiscroll">
				    <div class="ms-left">
				    	<!-- SECTION HOME -->
				        <div class="ms-section" data-anchor="home">
				        	<div class="wrap-section">
					        	etse
				        		
				        	</div>
				        </div>
				        <!-- END SECTION HOME -->
				        <!-- SECTION STUDIES -->
				        <div class="ms-section" data-anchor="studies">
				        	<div class="wrap-section">
				        		Section gauche 2
				        		
				        	</div>
			        	</div>
			        	<!-- END SECTION STUDIES -->
			        	<!-- SECTION SKILLS -->
				        <div class="ms-section" data-anchor="skills">
					    	<div class="wrap-section">					    		
					    		Section gauche 3  
					    	</div>
				        </div>
				        <!-- END SECTION SKILLS -->
				        <!-- SECTION CONTACT -->
				        <div class="ms-section" data-anchor="contact">
					    	<div class="wrap-section">
					    		Section gauche 4 
					    		
					    	</div>
				        </div>
				        <!-- END SECTION CONTACT -->
				    </div>

				    <div class="ms-right" id="fullpage">

				        <div class="ms-section section section-home" data-anchor="home">
				        	<div class="wrap-section">
					        	
					        	tergfretr
				        		
				        	</div>
				        </div>
				        <div class="ms-section section section-studies" data-anchor="studies">
				        	<div class="wrap-section">
				        		Section droite 2
				        		
				        	</div>
				        </div>
				        <div class="ms-section section section-skills" data-anchor="skills">
				        	<div class="wrap-section">
				        		Section droite 3
				        		
				        	</div>
				        </div>
				        {% if isMobile == '0' %}
					        <div class="ms-section section section-contact" data-anchor="contact">
					        	<div class="wrap-section">
									Section droite 4
					        	</div>
					        </div>
					    {% else %}
					    	<div class="ms-section section section-contact" data-anchor="contact">
					    		<div class="slide">
						        	<div class="wrap-section">
										ftrfdgrvfgr
						        	</div>
					    			
					    		</div>
					    		<div class="slide">
					    			<div class="wrap-section">
										azdedferefre
						        	</div>
					    			
					    		</div>
					        </div>

					    {% endif %}
				    </div>
				</div>

				<div id="multiscroll-nav" class="right animated slideInRight">
					<ul id="multiscroll-menu">
					    <li data-tooltip="">
					    	<a data-menuanchor="home" href="home"><span></span></a>
					    </li>
					    <li data-tooltip="">
					    	<a data-menuanchor="studies" href="studies"><span></span></a>
					    </li>
					    <li data-tooltip="">
					    	<a data-menuanchor="skills" href="skills"><span></span></a>
					    </li>
					    <li data-tooltip="">
					    	<a data-menuanchor="contact" href="contact"><span></span></a>
					    </li>
					</ul>
				</div>


			</div>
		</div>

	</div>
</div>

	<script type="text/javascript">
		var isMobile = "{{ isMobile }}"; 
	</script>
	<script type="text/javascript" src="ressources/js/main.js"></script>
{% endblock %}

