{% extends "layout.twig" %}

{% block body %}

	<!--<div id="st-container" class="st-container">

	<nav class="st-menu st-effect-1" id="menu-1">
		<h2 class="icon icon-stack">Sidebar</h2>
		<ul>
			<li><a class="icon icon-data" href="#accueil">Accueil</a></li>
			<li><a class="icon icon-location" href="#formations">Formations</a></li>
			<li><a class="icon icon-study" href="#competences">Compétences</a></li>
			<li><a class="icon icon-photo" href="#contact">Contact</a></li>
		</ul>
	</nav>

	-->
	<!-- content push wrapper -->
	<!--
	<div class="st-pusher">

		<div class="st-content">
			<div class="st-content-inner">

				<div id="st-trigger-effects" class="column" style="position:absolute">
					<button data-effect="st-effect-1">Reveal</button>
				</div>
			-->
				<div id="multiscroll">
				    <div class="ms-left">
				        <div class="ms-section">
					        	Section gauche 1
					        
				        </div>
				        <div class="ms-section">
				        	<div class="wrap">
				        		Section gauche 2
				        	</div>
			        	</div>
				        <div class="ms-section">
					        <div class="wrap">
					    		Section gauche 3    	
					        </div>
				        </div>
				        <div class="ms-section">
					        <div class="wrap">
					    		Section gauche 4    	
					        </div>
				        </div>
				    </div>
				    <div class="ms-right">
				        <div class="ms-section">
				        	<div class="wrap">
				        		Section droite 1	        		
				        	</div>
				        </div>
				        <div class="ms-section">
				        	<div class="wrap">
				        		Section droite 2	        		
				        	</div>
				        </div>
				        <div class="ms-section">
				        	<div class="wrap">
				        		Section droite 3	        		
				        	</div>
				        </div>
				        <div class="ms-section">
				        	<div class="wrap">
				        		Section droite 4	        		
				        	</div>
				        </div>
				    </div>
				</div>

				<div id="multiscroll-nav" class="right">
					<ul id="myMenu">
					    <li data-menuanchor="accueil" class="active"><a href="#accueil">+</a></li>
					    <li data-menuanchor="formations"><a href="#formations">+</a></li>
					    <li data-menuanchor="competences"><a href="#competences">+</a></li>
					    <li data-menuanchor="contact"><a href="#contact">+</a></li>
					</ul>
				</div>

			<!--</div>
		</div>

	</div>
</div>-->


	

	<script type="text/javascript">
		$(document).ready(function() {
		    $('#multiscroll').multiscroll();
		});
	</script>
{% endblock %}

