{% extends "layout.twig" %}

{% block body %}


<div id="st-container" class="st-container">

	<nav class="st-menu st-effect-1" id="menu-1">
		<h2 class="icon icon-stack">Sidebar</h2>
		<ul>
			<li><a class="icon icon-data" href="#accueil">Accueil</a></li>
			<li><a class="icon icon-location" href="#formations">Formations</a></li>
			<li><a class="icon icon-study" href="#skills">Compétences</a></li>
			<li><a class="icon icon-photo" href="#contact">Contact</a></li>
		</ul>
	</nav>

	<!-- content push wrapper -->
	<div class="st-pusher">

		<div class="st-content">
			<div class="st-content-inner">

				<div class="menu-fixed">
					<div id="st-trigger-effects" class="column" style="position:absolute">
						<button data-effect="st-effect-1">Reveal</button>
					</div>
				</div>

				<div id="multiscroll">
							
				    <div class="ms-left">
				        <div class="ms-section" data-anchor="home">
					        	Section gauche 1
				        </div>
				        <div class="ms-section" data-anchor="formations">
				        		Section gauche 2
			        	</div>
				        <div class="ms-section" data-anchor="skills">
					    		Section gauche 3  
				        </div>
				        <div class="ms-section" data-anchor="contact">
					    		Section gauche 4 
				        </div>
				    </div>

				    <div class="ms-right" id="fullpage">
				        <div class="ms-section section" data-anchor="home">
				        	<div class="pure-g">
				        		<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-2">retgftgfdtrg</div>
				        		<div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-2">hj,u,uu,ui,,ui,</div>
				        	</div>
				        </div>
				        <div class="ms-section section" data-anchor="formations">
				        		Section droite 2
				        </div>
				        <div class="ms-section section" data-anchor="skills">
				        		Section droite 3
				        </div>
				        <div class="ms-section section" data-anchor="contact">
				        		Section droite 4	        		
				        	
				        </div>
				    </div>
							
				</div>

				<div id="multiscroll-nav" class="right">
					<ul id="myMenu">
					    <li data-tooltip="accueil"><a href="#home">+</a></li>
					    <li data-tooltip="formations"><a href="#formations">+</a></li>
					    <li data-tooltip="competences"><a href="#skills">+</a></li>
					    <li data-tooltip="contact"><a href="#contact">+</a></li>
					</ul>
				</div>


			</div>
		</div>

	</div>
</div>

	<script type="text/javascript">
		var isMobile = "{{ isMobile }}"; 
	</script>
	<script type="text/javascript" src="ressources/js/main.js"></script>
{% endblock %}

