{% extends "layout.twig" %}

{% block body %}

<div id="st-container" class="st-container">

	<nav class="st-menu st-effect-1" id="menu-1">
		<ul>
			<li><a class="icon icon-data hvr-bounce-to-right" href="#home">Accueil</a></li>
			<li><a class="icon icon-location hvr-bounce-to-right" href="#studies">Formations</a></li>
			<li><a class="icon icon-location hvr-bounce-to-right" href="#projects">Projets</a></li>
			<li><a class="icon icon-study hvr-bounce-to-right" href="#skills">Compétences</a></li>
			<li><a class="icon icon-photo hvr-bounce-to-right" href="#contact">Contact</a></li>
		</ul>
	</nav>

	<!-- content push wrapper -->
	<div class="st-pusher">

		<div class="st-content container">
			<div class="st-content-inner">

				<header id="ha-header" class="ha-header ha-header-large">
					<div class="ha-header-perspective">
						<div class="ha-header-front">
							<h1><span>Rémi FAIVRE</span></h1>
								
							<div id="st-trigger-effects" class="column">
								<button data-effect="st-effect-1" class="button-menu">
									<i></i>
									<i></i>
									<i></i>
								</button>
							</div>
						</div>						
					</div>
				</header>

				<div id="multiscroll">

					{% if isMobile == "0" %}
					    <div class="ms-left">
					    	<!-- SECTION HOME -->
					        <div class="ms-section" data-anchor="home">
					        	<div class="wrap-section">
					        	</div>
					        </div>
					        <!-- END SECTION HOME -->
					        <!-- SECTION STUDIES -->
					        <div class="ms-section" data-anchor="studies">
					        	<div class="wrap-section">
					        		<div class="section-container">
					        			<h1>Formations</h1>
					        			
					        		</div>					        		
					        	</div>
				        	</div>
				        	<!-- END SECTION STUDIES -->
				        	<!-- SECTION SKILLS -->
					        <div class="ms-section" data-anchor="skills">
						    	<div class="wrap-section">					    		
						    		<div class="section-container">
						    			<h1>Compétences</h1>
						    			
						    		</div>

						    	</div>
					        </div>
					        <!-- END SECTION SKILLS -->
					        <!-- SECTION CONTACT -->
					        <div class="ms-section" data-anchor="contact">
						    	<div class="wrap-section">
						    		<div class="section-container">
						    			<h1>Contact</h1>
						    			
						    		</div>
						    		
						    	</div>
					        </div>
					        <!-- END SECTION CONTACT -->
					    </div>
					{% endif %}

				    <div class="ms-right" id="fullpage">

				        <div class="ms-section section section-home" data-anchor="home">
				        	<div class="wrap-section">
					        	
					        	
				        		
				        	</div>
				        </div>
				        <div class="ms-section section section-studies" data-anchor="studies">
				        	<div class="wrap-section">
					        	{% if isMobile == "1" %}
					        		<h1>Formations</h1>
					        	{% endif %}
				        		Section droite 2
				        		
				        	</div>
				        </div>
				        <div class="ms-section section section-skills" data-anchor="skills">
				        	<div class="wrap-section">
				        		{% if isMobile == "1" %}
				        			<h1>Compétences</h1>
				        		{% endif %}
				        		Section droite 3
				        		
				        		
				        	</div>
				        </div>
				        {% if isMobile == "0" %}
					        <div class="ms-section section section-contact" data-anchor="contact">
					        	<div class="wrap-section">
									Section droite 4
					        	</div>
					        </div>
					    {% else %}
					    	<div class="ms-section section section-contact" data-anchor="contact">
					    		<div class="slide">
						        	<div class="wrap-section">
										<h1>Contact</h1>
						        	</div>
					    			
					    		</div>
					    		<div class="slide">
					    			<div class="wrap-section">
										azdedferefre
						        	</div>
					    			
					    		</div>
					        </div>

					    {% endif %}
				    </div>
				</div>

				{% if isMobile == "0" %}

					<div id="multiscroll-nav" class="animated slideInRight multiscroll-nav-class">
						<ul id="multiscroll-menu">						    
						</ul>
					</div>
				{% endif %}


			</div>
		</div>

	</div>
</div>

	<script type="text/javascript">
		var isMobile = "{{ isMobile }}"; 
	</script>
	<script type="text/javascript" src="ressources/js/main.js"></script>
{% endblock %}

