<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Rémi FAIVRE</title>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/ressources/css/jquery.fullpage.css">
	<link rel="stylesheet" type="text/css" href="/ressources/css/jquery.multiscroll.css">
	<link rel="stylesheet" type="text/css" href="/ressources/css/main.css">
	<link rel="stylesheet" type="text/css" href="/ressources/css/hover.min.css">
      
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

	{% block body %}
	{% endblock %}

	<script src="ressources/js/jquery.easings.min.js"></script>
	<script src="ressources/js/jquery.waypoints.min.js"></script>

	<script type="text/javascript" src="ressources/js/jquery.fullpage.js"></script>

	<script type="text/javascript" src="ressources/js/jquery.multiscroll.min.js"></script>
	<script type="text/javascript" src="ressources/js/classie.js"></script>

	<script type="text/javascript" src="ressources/js/sidebarEffects.js"></script>
</body>
</html>