{% if isMobile == "0" %}
	<div class="wrap-section">
		<div class="section-container">
			{% if isMobile == "1" %}
				<h2>Compétences</h2>
			{% endif %}
			<div class="sub-container">
				{% include "skills/langages.twig" %}
				{% include "skills/bd.twig" %}
				{% include "skills/framework.twig" %}
				{% include "skills/divers.twig"%}	
			</div>
		</div>
	</div>

{% else %}
	<div class="slide">
		<div class="wrap-section">
			<div class="section-container">			
				<h2>Compétences</h2>
				<div class="sub-container">
					{% include "skills/langages.twig" %}
					{% include "skills/bd.twig" %}
				</div>
			</div>
		</div>
	</div>

	<div class="slide">
		<div class="wrap-section">
			<div class="section-container">
				<div class="sub-container">
					{% include "skills/framework.twig" %}
					{% include "skills/divers.twig"%}
				</div>	
			</div>
		</div>
	</div>
{% endif %}