{% if isMobile == "0" %}
	<div class="wrap-section">
		<div class="section-container">
			{% if isMobile == "1" %}
				<h2>Compétences</h2>
			{% endif %}
			<div class="sub-container">

				<h3>// Langages Web</h3>
				<div class="content">
					<ul class="skills-list">
						<li>
							<div class="title">PHP</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-90 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">HTML 5</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-70 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">CSS 3</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-70 bg-green"></div>					
								</div>
							</div>
						</li>
						<li>
							<div class="title">JQuery</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-80 bg-green"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<h3>// Base de données</h3>
				<div class="content">
					<ul class="skills-list">
						<li>
							<div class="title">MySQL</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-80 bg-green"></div>
								</div>
							</div>
						</li>	
					</ul>
				</div>

				<h3>// Frameworks</h3>
				<div class="content">
					<ul class="skills-list">
						<li>
							<div class="title">Symfony 2</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-80 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Symfony 1</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-70 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Zend</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-60 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Angular JS</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-40 bg-green"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<h3>// Divers</h3>
				<div class="content">
					<ul class="skills-list">
						<li>
							<div class="title">Git</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-80 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">SVN</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-60 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Scrum</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-70 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Latex</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-70 bg-green"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

{% else %}
	<div class="slide">
		<div class="wrap-section">
			<div class="section-container">
				<h2>Compétences</h2>

				<div class="sub-container">

					<h3>// Langages Web</h3>
					<div class="content">
						<ul class="skills-list">
							<li>
								<div class="title">PHP</div>
								<div class="skill">
									<div class="progress">
										<div class="progress-bar progress-bar-90 bg-green"></div>
									</div>
								</div>
							</li>
							<li>
								<div class="title">HTML 5</div>
								<div class="skill">
									<div class="progress">
										<div class="progress-bar progress-bar-70 bg-green"></div>
									</div>
								</div>
							</li>
							<li>
								<div class="title">CSS 3</div>
								<div class="skill">
									<div class="progress">
										<div class="progress-bar progress-bar-70 bg-green"></div>					
									</div>
								</div>
							</li>
							<li>
								<div class="title">JQuery</div>
								<div class="skill">
									<div class="progress">
										<div class="progress-bar progress-bar-80 bg-green"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<h3>// Base de données</h3>
					<div class="content">
						<ul class="skills-list">
							<li>
								<div class="title">MySQL</div>
								<div class="skill">
									<div class="progress">
										<div class="progress-bar progress-bar-80 bg-green"></div>
									</div>
								</div>
							</li>	
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="slide">
		<div class="wrap-section">
			<div class="section-container">
				
				<h3>// Frameworks</h3>
				<div class="content">
					<ul class="skills-list">
						<li>
							<div class="title">Symfony 2</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-80 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Symfony 1</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-70 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Zend</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-60 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Angular JS</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-40 bg-green"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<h3>// Divers</h3>
				<div class="content">
					<ul class="skills-list">
						<li>
							<div class="title">Git</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-80 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">SVN</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-60 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Scrum</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-70 bg-green"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="title">Latex</div>
							<div class="skill">
								<div class="progress">
									<div class="progress-bar progress-bar-70 bg-green"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endif %}