<h3>// Timeline</h3>
<div class="content">
	<ul class="timeline-studies">
		<li>
			<div class="year">2014</div>
			<div class="diplome">
				<div>
					<strong>
						<i class="fa fa-angle-double-right"></i>
						Master IIAM (Image et Intelligence Artificielle, Multimédia,
					</strong><em>option multimédia</em>
				</div>
				<div class="ml15">							        						
					<div>-- Mention Bien</div>
					<div>
						Université de Bourgogne - Dijon(21)
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="year">2012</div>
			<div class="diplome">
				<div>
					<strong>
						<i class="fa fa-angle-double-right"></i>
						Licence Informatique
					</strong>															
				</div>
				<div class="ml15">
					Université de Franche-Comté - Besançon(25)															
				</div>
			</div>
		</li>
		<li>
			<div class="year">2009</div>
			<div class="diplome">
				<div>
					<strong>
						<i class="fa fa-angle-double-right"></i>
						Baccalauréat Scientifique
					</strong>					        			
				</div>
				<div class="ml15">
					<div>
						-- Mention Assez Bien
					</div>
					<div>
						Lycée Friant - Poligny(39)
					</div>					        								
				</div>
			</div>
		</li>
	</ul>
</div>