<h3>// Base de données</h3>
<div class="content">
	<ul class="skills-list">
		<li>
			<div class="title">MySQL</div>
			<div class="skill">
				<div class="progress">
					<div class="progress-bar progress-bar-80 bg-blue"></div>
				</div>
			</div>
		</li>	
	</ul>
</div>