<h3>// Divers</h3>
<div class="content">
	<ul class="skills-list">
		<li>
			<div class="title">Git</div>
			<div class="skill">
				<div class="progress">
					<div class="progress-bar progress-bar-80 bg-blue"></div>
				</div>
			</div>
		</li>
		<li>
			<div class="title">SVN</div>
			<div class="skill">
				<div class="progress">
					<div class="progress-bar progress-bar-60 bg-blue"></div>
				</div>
			</div>
		</li>
		<li>
			<div class="title">Scrum</div>
			<div class="skill">
				<div class="progress">
					<div class="progress-bar progress-bar-70 bg-blue"></div>
				</div>
			</div>
		</li>
		<li>
			<div class="title">Latex</div>
			<div class="skill">
				<div class="progress">
					<div class="progress-bar progress-bar-70 bg-blue"></div>
				</div>
			</div>
		</li>
	</ul>
</div>